node_modules
.next
out
build
.env
.env.local
.env*.local
*.log
npm-debug.log*
.DS_Store
coverage
prisma/.generated
prisma/dev.db
prisma/dev.db-journal
public/uploads/*
!public/uploads/.gitkeep
.vercel
tsconfig.tsbuildinfo
next-env.d.ts
private-uploads
prisma/demo.db
